body {
  font-family: system-ui, sans-serif;
  background: #f5f5f5;
}

.post {
  background: white;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 6px;
  max-width: 600px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  margin-bottom: 1rem;
  border: 1px solid #e2e5e9;
}

.post-comments {
  margin-top: 1rem;
  border-top: 1px solid #eee;
  padding-top: 0.5rem;
}

.post p {
    margin: 0 0 0.5rem 0;
}

.post small {
    color: #666;
}

button {
  cursor: pointer;
}
